<h1 align="center">API Project</h1>

<form align ="center">
  What would you like to search for?<br>
  <input id="inputarea" type="text" name="firstname"><br>
<!--   Last name:<br>
  <input type="text" name="lastname"> -->
  <input id="button" type="submit" value="Submit">
</form>


<style>
  .image-slider img {
    height: 200px;
    width: 214px;
  }
</style>

<div class="image-slider"></div>
